.bg {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; /*resmi sabirler alttan gelen yazilar resmin üstünden kayar */
}

.image1 {
  background-image: url("../img/monalisa.jpeg");
}

.image2 {
  background-image: url(https://cdn.pixabay.com/photo/2022/08/17/09/15/sea-7391990__340.jpg);
}
