* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  z-index: 0;
}
.container {
  display: flex;
  background-color: wheat;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -11;
}

.ic-container {
  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: column;

  margin-bottom: 240px;
}
.container__img {
  width: 200px;
  margin: 0 auto;
  position: relative;
  top: 0;
  z-index: 30;
}
.container__img img {
  width: 200px;
  height: 200px;
  border: 4px solid black;

  border-radius: 50%;
}

.yazi {
  margin-top: 20px;
  text-align: center;
  font-size: 3.5rem;
  line-height: 80px;
  font-weight: 900;
  color: rgb(40, 39, 39);
}

.dis-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 70%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 54, 54);
  border-radius: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.sari {
  color: yellow;
}

.alt-yazi {
  position: relative;
}
