.menu {
  background-color: lightgray;
  width: 250px;
  text-align: center;
  font-size: 50px;
}

.first {
  background-color: black;
  color: white;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-family: "Rubik Maze", cursive;
}

.third {
  background-color: aqua;
  font-family: "Great Vibes", cursive;
}

.second {
  font-family: "Silkscreen";
}

div {
  font-family: "IBM Plex Sans Devanagari";
}
